/*reset css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #028090;
    font-family: Arial, sans-serif;
}

.layout {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "hero"
        "features"
        "form"
        "footer";
    min-height: 100vh;
}

.area-header   { grid-area: header; }
.area-nav      { grid-area: nav; }
.area-hero     { grid-area: hero; }
.area-features { grid-area: features; }
.area-form     { grid-area: form; }
.area-footer   { grid-area: footer; }

.header {
    background-color: #f0f0f0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: 5px solid #028090;
    text-align: center;
    font-weight: bold;
}

.navegacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    background-color: #e9f5f6;
    margin: 20px 0;
    padding: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    min-width: 220px;
    background: #fdfdfd;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
    .navegacion {
        justify-content: flex-end;
    }
    
    .menu {
        flex-direction: row; /* Cambia a horizontal */
        gap: 24px;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 850px; /* pantallas grandes */
    }
}